.login {
  height: 100%;
  background-image: url(../../assets/svg/backdround.svg);
  .form {
    width: 30%;
    min-width: 411px;
    height: 100%;
    background-color: #eee;
    box-shadow: 14px 0 12px 0 rgba(72, 77, 88, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15%;
    .input, .button {
      width: 65%;
      margin: 6px;
    }
    .button {
      height: 48px;
    }
  }
}
